@use 'basic';

.Footer {
    border-top: 1px solid basic.$gColor;
    border-bottom: 1px solid basic.$gColor;
    padding: 20px 0;
    font-size: 13px;
    font-weight: 500;

    .inner {
        display: flex;
        justify-content: space-between;

        .box {
            line-height: 1.5;
        }

        ul {
            display: flex;

            li~li::before {
                content: "";
                display: inline-block;
                margin: 0 15px;
                width: 1px;
                height: 10px;
                background: basic.$gColor;
            }
        }

        .snsIcon {
            display: inline-flex;
            font-size: 19px;
            align-items: center;

            a {
                border: 1px solid basic.$gColor;
                border-radius: 10px;
                padding: 6px;
                margin: 0 0 0 10px;

                svg {
                    vertical-align: middle;
                    font-size: 18px;
                }
            }
        }
    }
}