@use 'basic';

.Musium {
    .bg {
        background: rgba(219, 202, 161, 0.8);
    }

    .banner {
        background: url(../../public/assets/images/musium_bg.jpg) no-repeat center center/cover;
        height: 290px;
    }

    .Article {
        .container {
            display: flex;
            gap: 30px;

            .bearimg {
                border-radius: 30px;
                overflow: hidden;
            }

            .description {
                flex: 1;
                align-self: center;

                p {
                    strong {
                        font-size: 18px;
                        font-weight: 500;
                    }

                    line-height: 1.3;
                }
            }
        }

        .grid_container {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 50px 50px;

            figure {
                text-align: center;

                img {
                    margin: 0 0 30px 0;
                }

                .description {
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    .about {
                        font-size: 21px;
                        font-weight: 500;
                        letter-spacing: 0.05em;
                        margin: 0 0 10px 0;
                    }

                    .txtbox {
                        font-size: 15px;
                        line-height: 1.28;
                        letter-spacing: -0.025em;
                    }
                }
            }
        }
    }
}

.Place {
    .banner {
        background: url(../../public/assets/images/place_bg.png) no-repeat center center/cover;
        height: 290px;

        .box {
            text-shadow: 0 0 1px basic.$sColor;
            color: basic.$sColor;
        }
    }
}

.Gift {
    .banner {
        background: url(../../public/assets/images/gift_bg.png) no-repeat center center/cover;
        height: 290px;

        .box {
            text-shadow: 0 0 1px basic.$sColor;
            color: basic.$sColor;
        }
    }

    .Article {
        h3 {
            text-align: center;

            &::after {
                margin: 20px auto 30px auto;
            }
        }

        .description {
            font-size: 15px;
            line-height: 1.45;
            text-align: center;
            margin: 0 0 40px 0;
        }

        .container {
            figure {
                position: relative;
                height: 500px;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                font-size: 0;

                &.itm01 {
                    background-image: url(../../public/assets/images/gift01.jpg);
                }

                &.itm02 {
                    background-image: url(../../public/assets/images/gift02.jpg);
                }

                &.itm03 {
                    background-image: url(../../public/assets/images/gift03.jpg);
                }

                &.itm04 {
                    background-image: url(../../public/assets/images/gift04.jpg);
                }

                &.itm05 {
                    background-image: url(../../public/assets/images/gift05.jpg);
                }

                &.itm06 {
                    background-image: url(../../public/assets/images/gift06.jpg);
                }
            }

            .slick-dots {
                position: absolute;
                bottom: -35px;
                left: 50%;
                transform: translateX(-50%);
                text-align: center;

                li {
                    display: inline-block;
                    margin: 0 5px;

                    button {
                        width: 40px;
                        height: 5px;
                        background: basic.$gColor;
                        font-size: 0;
                        border: none;
                        outline: none;
                        cursor: pointer;
                    }

                    &.slick-active button {
                        background: basic.$mColor;
                    }
                }
            }

        }
    }
}

.Qna {
    .banner {
        background: url(../../public/assets/images/qna_bg.png) no-repeat center center/cover;
        height: 290px;

        .box {
            text-shadow: 0 0 1px basic.$sColor;
            color: basic.$sColor;
        }
    }

    .qna_page {
        padding: 100px 0;

        h3 {
            font-size: 27px;
            font-weight: 600;

            &::after {
                content: "";
                display: block;
                margin: 20px 0 40px 0;
                width: 40px;
                height: 3px;
                background: basic.$mColor;
            }
        }

        .tab_menu {
            border-bottom: 1px solid basic.$gColor;
            margin: 0 0 60px 0;

            .inner {
                display: flex;
                justify-content: center;
                text-align: center;

                li {
                    padding: 20px 129px;
                    font-size: 17px;
                    font-weight: 500;
                    background: #f7F8f9;
                    border-right: 1px solid basic.$gColor;
                    border-top: 1px solid basic.$gColor;
                    cursor: pointer;

                    &:first-child {
                        border-left: 1px solid basic.$gColor;
                    }

                    &.on {
                        position: relative;
                        background: basic.$mColor;
                        border-bottom: 1px solid basic.$wColor;
                        color: basic.$wColor;

                        &::after {
                            content: "";
                            position: absolute;
                            width: 100%;
                            height: 1px;
                            bottom: -2px;
                            left: 0;
                            background: basic.$wColor;
                        }
                    }
                }
            }
        }

        .board {
            .qna_table {
                width: 100%;
                border-top: 3px solid basic.$mColor;

                tbody {
                    border-top: 1px solid basic.$gColor;
                    border-spacing: 0;
                    border-collapse: collapse;
                }

                th {
                    padding: 15px 20px;
                    text-align: left;
                    font-weight: 600;
                    background: #f7F8f9;

                    &:nth-child(1) {
                        width: 10%;
                    }

                    &:nth-child(2) {
                        width: 60%;
                    }

                    &:nth-child(3) {
                        width: 10%;
                    }

                    &:nth-child(4) {
                        width: 20%;
                    }
                }

                td {
                    padding: 20px;
                    border-bottom: 1px solid basic.$gColor;
                }
            }
        }
    }
}


//     tr {
//         border-bottom: 1px solid common.$lColor;
//     }

//     th {
//         padding: 15px 20px;
//         text-align: left;
//         background: common.$sgColor;
//         font-weight: 500;

//         &~th {
//             width: 75%;
//             border-left: 1px solid common.$lColor;
//         }
//     }


//     td {
//         padding: 20px;

//         &~td {
//             width: 75%;
//             border-left: 1px solid common.$lColor;
//         }
//     }
// }